body {
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo {
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    background-color: #E1EDF2;
    padding: 10px;
}

figure {
    background-color: whitesmoke;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
}

figure img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
    color: lightgrey;
}

.matriz {
    width: 550px;
}

.familia {
    width: 275px;
}

h2:not(.titulo-principal) {
    border-bottom: 1px solid #3D3D3D;
    padding-bottom: 5px;
    margin-top: 40px;
}
