body {
    width: 940px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

img {
    display: block;
}

.titulo-principal {
    background-color: #E1EDF2;
    padding: 10px;
}

figure {
    background-color: #F2EDED;
    padding: 15px;
    margin: 30px auto;
}

figcaption {
    margin-top: 10px;
    text-align: center;
}

.matriz-musicdot {
    width: 550px;
}

.familia-tupfeln {
    width: 275px;
    float: right;
    margin: 0 0 20px 20px;
}

figure img {
    width: 100%;
}

h2 {
    border-bottom: 2px solid #333;
    margin-top: 30px;
}
